@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "VendSans";
  src: url("/VendSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

body {
  font-family: "VendSans", sans-serif;
}

